<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <!--<link rel="shortcut icon" href="/favicon.ico"/><meta name="viewport" content="width=device-width,initial-scale=1"/>
        <!--<meta name="theme-color" content="#000000"/>
        <link rel="manifest" href="/manifest.json"/>-->
        <title>React App</title>
        <!--<link href="/static/css/main.c906fde0.chunk.css" rel="stylesheet">-->
    </head>
    <body>
        <h1>Hello World!</h1>
    </body>
</html>