.ArticleList {
    height: 100%;

    .center_wrapper {
        height: 100%;

        &>div {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 100%;

            img {
                height: 160px;
                margin-bottom: 10px;
            }

            .description {
                margin-top: 10px;
                font-size: 1.4rem;
                color: #737373;
                font-weight: bold;
                letter-spacing: 2px;
            }

            button {
                margin-top: 15px;
                padding: 10px 20px 10px 20px;
                border: 1px solid #4e78d8;
                border-radius: 3px;
                background-color: #5085ff;
                color: white;
                font-size: 15px;
            }
        }

        &::before {
            content: '';
            height: 100%;
            vertical-align: middle;
            display: inline-block;
        }
    }

    .articles_wrapper {
        .load_control {
            overflow: hidden;
            cursor: pointer;
            text-align: center;
            height: 60px;

            .text {
                vertical-align: middle;
                display: inline-block;
                font-size: 1.6rem;
                color: #5085ff;
            }

            &::before {
                content: '';
                height: 100%;
                vertical-align: middle;
                display: inline-block;
            }
            
            &:hover {
                background-color: transparent;
            }
        }
    }
}