$thumbnail_size: 75px;

.ArticleEntry {
    position: relative;
    width: 100%;
    height: 120px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f4f4;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;

    
    .thumbnail_wrapper {
        display: inline-block;
        vertical-align: middle;
        border-radius: 7px;
        overflow: hidden;
        width: $thumbnail_size;
        height: $thumbnail_size;
        box-sizing: border-box;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.1), 0 4px 5px 0 rgba(0,0,0,.01), 0 1px 10px 0 rgba(0,0,0,.12);
    }

    .details_wrapper {
        position: relative;
        padding-left: 15px;
        vertical-align: middle;
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% - #{$thumbnail_size} - 40px);

        .title_author {
    
            .title {
                font-size: 1.4rem;
                line-height: 2rem;
                margin-bottom: 7px;
                color: #444;
                max-height: 4rem;
                overflow: hidden;
                position: relative;
            }

            .author {
                color: #666;
                font-size: 1.1rem;
                line-height: 1.8rem;
                max-height: 1.8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                // width: 500px;
                white-space: nowrap; 
            }

            .date {
                margin-top: 5px;
                padding-right: 10px;
                text-align: left;
                label {
                    font-size: 1.1rem;
                    color: #aaa;

                }
    
            }
        }

    }

    .button_wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        margin-left: 20px;
        text-align: center;

        svg {
            width: 13px;
            height: 13px;
        }
    }

    
}

.ArticleEntry::before  {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ArticleEntry:active  {
    background-color: #eee;
    background-size: 100%;
    transition: background 0s;

    .thumbnail_wrapper {
        background: #ddd;
        transition: background 0s;
    }
}


@media (min-width: 440px) {
    .ArticleEntry {
        &.selected {
            background-color: #5085ff;

            .details_wrapper {

                .title_author{

                    .block-with-text:after {
                        background-color: #5085ff;
                    }

                    .title {
                        color: white;
                    }
        
                    .author {
                        color: white;
                    }

                    .date {
                        label {
                            color: white;
                        }
                        
                    }

                }
            }

            .button_wrapper {
        
                svg {
                    width: 13px;
                    height: 13px;
                    fill: white;
                }
            }
        }
    }
}