.DropDown {
    width: 100%;
    position: relative;
    z-index: 10;
    cursor: pointer;

    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:transparent;
    }

    .value_container {
        width: 100%;
        height: 20px;

        .text{
            display: inline-block;
            width: calc(100% - 40px);
            font-size: 1.4rem;
            margin-right: 10px;
            text-align: right;
        }

        .icon {
            display: inline-block;
            
            width: 30px;
            text-align: center;

            img {
                width: 10px;
                height: 10px;
            }
        }
    }


    .value_container::before {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }


    .dropdown_list {
        max-height: 400px;
        overflow: auto;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        animation: dropdown-animation 0.15s;
        transform-origin: 100% 0px;
        ul {

            li {
                font-size: 1.4rem;
                padding: 15px;
                padding-left: 20px;
                min-width: 150px;

                &.active {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}

@keyframes dropdown-animation {
    0% {
        opacity: 0;
        transform: scale(.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}