.voucher-template {
    // margin-top: 20px;
    // width: 450px;
    // height: 180px;
    // background-color: #f6f1eb;
    // display: flex;
    // flex-direction: row;
    // border: 1px solid #ddd;


    .description-container {
        // display: flex;
        // flex-direction: column;
        // width: calc(100% - 80px);
        // justify-content: center;
        // align-items: center;
        // padding-left: 20px;
        // padding-right: 20px;

        .title-message-container {
            // flex: 1;
            // display: flex;
            // justify-content: center;
            // flex-direction: column;
            // width: 100%;

            .title {
                // display: flex;
                // flex-direction: column;
                // width: 100%;
    
                span {
                    // font-size: 30px;
                    // font-weight: bold;
                    // color: red;
                }
    
                span.company-name {
                    // font-size: 14px;
                    // color: #1eb82d;
                    // letter-spacing: 2px;
                    // margin-bottom: 5px;
                }
            }
    
            .message {
                // margin-top: 10px;
                // font-size: 12px;
                // line-height: 20px;
                // color: #444;
    
                b {
                    // color: red;
                }
            }
        }


        .details-container {
            // border-top: 1px solid red;
            // margin-left: 20px;
            // margin-right: 20px;
            // height: 30px; 
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // width: 100%;
            // align-items: center;

            span {
                // color: #444;
            }
        }
    }

    .amount-container {
        // padding-top: 10px;
        // padding-bottom: 10px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // background-color: #f93c41;
        // width: 80px;

        .amount {
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            // justify-content: center;
            // flex: 1;


            .value {
                // writing-mode: vertical-lr;
                // transform: rotate(180deg);
                // font-size: 45px;
                // color: #f6f1eb;
                // font-family: sans-serif;
                // line-height: 45px;
                // font-weight: bold;
            }

            .currency {
                // writing-mode: vertical-lr;
                // transform: rotate(180deg);
                // color: #f6f1eb;
                // font-size: 25px;
                // font-family: sans-serif;
                // line-height: 20px;
                // margin-top: 5px;
            }


        }

        .footer-text {
            // font-size: 14px;
            // color: #f6f1eb;
        }
    }
}