@mixin apllication-header {
    padding-left: 15px;
    padding-right: 15px;
    height: 85px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e1e1e1;
}

@mixin center-align-before {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}